
.about {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  font-family: 'Open Sans', sans-serif;
  background-color: #181818;
  position: relative;

  h2 {
    color: #FFFFFF;
    outline: none !important;
  }

  .banner {
    height: 100%;
    width: 0;
    background: url('/images/bay.gif') center center no-repeat;
    background-size: cover;
  }

  .info {
    height: 100%;
    width: 50% !important;
    position: absolute;
    right: 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2em;
    color: #F5F5F5;
    font-family: 'Open Sans', sans-serif;

    h1, h2 {
      font-weight: 400 !important;
    }

    .bio {
      margin: 1em 10%;

      p {
        line-height: 1.8;
        text-align: justify;
      }
    }
  }
}
