
.cases {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  background-color: #121212;

  h2 {
    color: #FFFFFF;
  }

  #row2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80vh;

    .left {
      width: 45%;

      .case {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;
        background: no-repeat 50% 50%;
        background-size: cover !important;
      }
    }

    .right {
      width: 55%;
      display: flex;
      flex-direction: row;

      #big-left {
        width: 50%;

        .case {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          position: relative;
          cursor: pointer;
          background: no-repeat 50% 50%;
          background-size: cover !important;
        }
      }

      #stacked {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;

        #top {
          height: 50%;

          .case {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            cursor: pointer;
            background: no-repeat 50% 50%;
            background-size: cover !important;
          }
        }

        #bottom {
          height: 50%;

          .case {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            cursor: pointer;
            background: no-repeat 50% 50%;
            background-size: cover !important;
          }
        }
      }
    }
  }

  #row1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20vh;

    .case {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      cursor: pointer;
      background: no-repeat 50% 50%;
      background-size: cover !important;
    }
  }
}
