

.header {
  display: flex;
  flex-direction: row;
  background: #eee;
  width: 100% !important;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: #eee;

  .header-items {
    display: flex;
    flex-direction: column;
    color: #000;
    align-items: center;
    max-width: 90% !important;

    h2 {
      overflow: hidden;
      border-right: .15em solid orange; /* The typwriter cursor */
      white-space: nowrap; /* Keeps the content on a single line */
      margin: 0 auto !important; /* Gives that scrolling effect as the typing happens */
      align-self: center;
      font-size: 1.3em;
      letter-spacing: 0.8em;
      text-transform: uppercase;
      line-height: 2.5em;
      text-align: center;
      animation: typing 4s steps(40, end), blink-caret .75s step-end infinite;
    }

    @media screen and (max-width: 500px) {
      h2 {
        letter-spacing: normal !important;
      }
    }
  }

  .arrow-link {
    position: absolute;
    bottom: 0;
    left: 49%;
    color: #000;
    -moz-animation: bounce .7s infinite ease;
    -webkit-animation: bounce .7s infinite ease;
    cursor: pointer;
  }

  /** KeyFrames **/

  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

  @-moz-keyframes bounce {

  	40% {
      transform:translateY(-30px);
    }
  	60% {
      transform:translateY(-15px);
    }
    100% {
      transform: translateY(0);
    }
  }

  @-webkit-keyframes bounce {

  	40% {
      transform:translateY(-30px);
    }
  	60% {
      transform:translateY(-15px);
    }
    100% {
      transform: translateY(0);
    }
  }
}
