

.header {
  display: flex;
  flex-direction: row;
  background: #eee;
  width: 100% !important;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: #eee;
  font-family: 'Open Sans', sans-serif;
  position: relative;

  .loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #2D3E4F;
    z-index: 100 !important;
    display: flex;
    justify-content: center;
    align-items: center;

    .spinner {
      width: 100px;
      height: 100px;
      position: relative;
      margin: 100px auto;

      .double-bounce1, .double-bounce2 {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #ABB2B9;
        opacity: 0.6;
        position: absolute;
        top: 0;
        left: 0;

        -webkit-animation: sk-bounce 2.3s infinite ease-in-out;
        animation: sk-bounce 2.3s infinite ease-in-out;
      }

      @keyframes sk-bounce {
        0%, 100% {
          transform: scale(0.0);
          -webkit-transform: scale(0.0);
        } 50% {
          transform: scale(1.2);
          -webkit-transform: scale(1.2);
        }
      }

      @-webkit-keyframes sk-bounce {
        0%, 100% { -webkit-transform: scale(0.0) }
        50% { -webkit-transform: scale(1.0) }
      }

      .double-bounce2 {
        background-color: #DDE0E3;
        -webkit-animation-delay: -1.0s;
        animation-delay: -1.0s;
      }
    }
  }

  .header-items {
    display: flex;
    flex-direction: column;
    color: #000;
    align-items: center;
    max-width: 90% !important;

    h2 {
      overflow: hidden;
      border-right: .15em solid orange; /* The typwriter cursor */
      white-space: nowrap; /* Keeps the content on a single line */
      margin: 0 auto !important; /* Gives that scrolling effect as the typing happens */
      align-self: center;
      font-size: 27px;
      font-weight: 750;
      letter-spacing: 0.8em;
      text-transform: uppercase;
      line-height: 2.5em;
      text-align: center;
      animation: typing 4s steps(40, end), blink-caret .75s step-end infinite;
      -webkit-animation: typing 4s steps(40, end), blink-caret .75s step-end infinite;
      animation-play-state: paused;
      -webkit-animation-play-state: paused;
    }

    @media screen and (max-width: 500px) {
      h2 {
        letter-spacing: normal !important;
      }
    }
  }

  .animate {
    background: url('/images/code.gif') center center no-repeat;
    background-size: cover;
    background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    -webkit-background-clip: text !important;
    transition: all 0.3s ease-in;
  }

  .arrow-link {
    position: absolute;
    bottom: 0;
    left: 49%;
    color: #000;
    -moz-animation: bounce .7s infinite ease;
    -webkit-animation: bounce .7s infinite ease;
    cursor: pointer;
  }

  /** KeyFrames **/

  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

  @-moz-keyframes bounce {

  	40% {
      transform:translateY(-30px);
    }
  	60% {
      transform:translateY(-15px);
    }
    100% {
      transform: translateY(0);
    }
  }

  @-webkit-keyframes bounce {

  	40% {
      transform:translateY(-30px);
    }
  	60% {
      transform:translateY(-15px);
    }
    100% {
      transform: translateY(0);
    }
  }
}
