.helicopter_wrapper {
  visibility: hidden;
  position: absolute;
  top: 2em;
  left: -8% !important;
  animation: glide 14s linear infinite;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  z-index: $helicopter-Zindex;


  .balloon {
    height: 40px;
    line-height: 40px;
    margin-bottom: 20px;
    text-align: center;
    width: 100px;
    position: absolute;
    left: -1.3em;
    bottom: -2.08em;
    cursor: pointer !important;

    &:hover .hire-link {
      color: #FFFFFF;
    }

    .hire-link {
      display: inline-block;
      cursor: pointer !important;
      width: 100%;
      height: 100%;
    }
  }

  .balloon::before, .balloon::after {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
  }

  .balloon::after {
    height: 30px;
  }

  .balloon.right {
    border-left: solid 3px $balloon-border;
    border-top: solid 3px $balloon-border;
    border-bottom: solid 3px $balloon-border;
    border-radius: 8px 0 8px 8px;
  }

  .balloon.right::before {
    border-top: solid 3px $balloon-border;
    right: -20px;
    top: -3px;
  }

  .balloon.right::after {
    border-left: solid 3px $balloon-border;
    border-top: solid 3px $balloon-border;
    border-top-left-radius: 3px;
    right: -20px;
    top: 3px;
    transform: skew(-0deg,-30deg);
  }

  .helicopter {
    position: relative;
    top: -0.2em;
    left: 19%;
    animation-duration: 1s;
    animation-name: float;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-play-state: running;


    .blade {
      position: absolute;
      top: 0px;
      left: 31px;
      animation-duration: 0.2s;
      animation-name: spin;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-play-state: running;
    }
    .tailblade {
      width: 3px;
      height: 7px;
      background-color: black;
      position: absolute;
      top: 9px;
      left: 10px;
      transform-origin: 50% 100%;
      animation-duration: .1s;
      animation-name: tailblade;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-play-state: running;
    }
  }
} /* End Helicopter Wrapper */


@keyframes spin {
  from {
    transform:rotateY(0deg);
  }

  to {
     transform:rotateY(-360deg);
  }
}

@keyframes tailblade {
  from {
    transform:rotate3d(0,0,1,0deg);
  }

  to {
     transform:rotate3d(0,0,1,-360deg);
  }
}
@keyframes float {
  from {
    transform:translateY(10px) rotate3d(0,0,1,5deg);
    transform-origin: 0% 100%;
  }

  to {
     transform:translateY(-8px) rotate3d(0,0,1,-2deg);
  }
}
@keyframes glide {
  0% {
    left: -5%;
  }
  100% {
    left: 105%;
  }
}
@-webkit-keyframes glide {
  0% {
    left: -5%;
  }
  100% {
    left: 105%;
  }
}

@-moz-keyframes glide {
  0% {
    left: -5%;
  }
  100% {
    left: 105%;
  }
}
