/* Variables */

$highlight: #37FDFC;

/* ######### */

#resume-page {
  height: 100vh;

  #page-content-wrapper {
    max-width: 1300px;
    margin: 0 auto;

    #link-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin: 3em 0 0 10em;

      #home-link {
        text-decoration: none !important;
        font-size: 1.2em;
        color: inherit;
        font-weight: 600;

        &:hover {

        }
      }
    }

    .intro-wrapper {
      width: 100%;
      display: flex;
      flex-direction: row;

      .block {
        width: 40%;
        margin: 0 auto;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;

        .image {
          height: 400px;
          background: #eee;
          width: 100%;
          margin: 0 auto;
        }

        .my_info {
          position: absolute;
          top: 1em;
          left: 75%;

          .name {
            display: inline-block;
            width: fit-content;
            font-size: 20px;
          }

          .title {
            background-color: #37FDFC;
            padding: 4px;
            display: inline-block;
            width: max-content;
            font-size: 15px;
          }

          .links {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            span {
              margin: 0.3em 0;
            }
          }
        }
      }

      .resume-about {
        padding-top: 140px;
        height: auto;
        margin: 0 auto;
        width: auto;

        .wrapper {
          width: 80%;
          margin: 0 auto;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;

          .info {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: baseline;

            span {
              display: inline-flex;
              align-items: baseline;
            }
          }
        }
      }
    }

    .exp-wrapper {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-top: 100px;
      font-family: 'Open Sans', sans-serif;

      .work {
        display: flex;
        flex-direction: column;
        width: 100%;

        h1 {
          position: relative;
          width: 100%;
          font-weight: 600;
          margin-bottom: 1.5em;

          &::after {
            content: "";
            height: 2px;
            width: 100%;
            background: #231F20;
            position: absolute;
            bottom: -1.5rem;
            right: 0;
          }
        }

        .wrapper {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;

          .block {
            display: flex;
            width: 100%;
            margin-bottom: 50px;
            line-height: 1.7rem;

            .position {
              width: 100%;

              .location {
                color: #636466;
              }
            }

            .description {
              width: 100%;
            }
          }
        }
      }
    }

    .skills-wrapper {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin: 75px 0;
      font-family: 'Open Sans', sans-serif;

      .personal {
        display: flex;
        flex-direction: column;
        width: 30%;

        .highlight {
          background-color: $highlight;
          padding: 3px;
        }

        h1 {
          text-align: center;
          position: relative;
          width: 100%;
          font-weight: 600;
          margin-bottom: 1.5em;

          &::after {
            content: "";
            height: 2px;
            width: 100%;
            background: #231F20;
            position: absolute;
            bottom: -1.5rem;
            right: 0;
          }
        }

        h3 {
          margin: 1.2em 0;
        }

        .wrapper {

          .skill {
            width: 100%;
            margin: 1.4em 0;
            position: relative;

            h2 {
              margin-bottom: 10px;
            }

            .skill-name {
              position: relative;
              display: block;

              &::after {
                content: "";
                background: #231F20;
                width: 100%;
                height: 1px;
                position: absolute;
                left: 0;
                bottom: 0;
              }
            }

            .skill-track {
              position: absolute;
              background-color: $highlight;
              padding: 3px;
              left: 0;
              right: 0;
              bottom: 1px;
              height: .9em;
              z-index: -1;
              transform-origin: left center;
              animation: stat 1s forwards;
            }
          }
        }
      }

      .professional {
        display: flex;
        flex-direction: column;
        width: 100%;

        h1 {
          position: relative;
          width: 100%;
          font-weight: 600;
          margin-bottom: 1.5em;

          &::after {
            content: "";
            height: 2px;
            width: 100%;
            background: #231F20;
            position: absolute;
            bottom: -1.5rem;
            right: 0;
          }
        }

        .wrapper {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;

          .skill {
            width: 30%;
            margin: 1.2em 0;
            position: relative;

            h2 {
              margin-bottom: 10px;
            }

            .skill-name {
              position: relative;
              display: block;

              &::after {
                content: "";
                background: #231F20;
                width: 100%;
                height: 1px;
                position: absolute;
                left: 0;
                bottom: 0;
              }
            }

            .skill-track {
              position: absolute;
              background-color: $highlight;
              padding: 2px;
              left: 0;
              right: 0;
              bottom: 1px;
              height: .9em;
              z-index: -1;
              transform-origin: left center;
              animation: stat 2s forwards;
            }
          }
        }
      }
    }

    .extra-info {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: baseline;

      .education {
        display: flex;
        flex-direction: column;
        width: inherit;

        .block {
          line-height: 1.7rem;
          margin-bottom: 50px;

          .location {
            color: #636466;
          }
        }

        h1 {
          text-align: center;
          position: relative;
          font-weight: 600;
          margin-bottom: 1.5em;

          &::after {
            content: "";
            height: 2px;
            width: 100%;
            background: #231F20;
            position: absolute;
            bottom: -1.5rem;
            left: 0;
          }
        }
      }

      .references {
        width: inherit;
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-family: 'Open Sans', sans-serif;

        h1 {
          position: relative;
          font-weight: 600;
          margin-bottom: 1em;
          text-align: center;

          &::after {
            content: "";
            height: 2px;
            width: 100%;
            background: #231F20;
            position: absolute;
            bottom: -1.5rem;
            right: 0;
          }
        }

        .wrapper {
          display: flex;
          flex-direction: column;

          .block {
            margin: 1em 0;

            h3 {
              margin-bottom: 0.5em;
            }

            h5 {
              margin-bottom: 0.5em;
            }
          }
        }
      }
    }
  }

  @keyframes stat {
    0% {
      transform: translate3d(-100%, 0px, 0px);
    }
    100% {
      transform: translate3d(0%, 0px, 0px);
    }
  }
}
