


/*  Z-Indexes */
$nav-Zindex: 100;
$helicopter-Zindex: 110;
$hireLinkZindex: 115;
$nav-list-Zindex: 115;
$nav-toggle-Zindex: 150;


/*  Colors  */
$balloon-border: #333;
$blue-color: #337AB7 !default;
$white-color: #C7C7C7;
