.skills {
  min-height: 500px;
  background: #eee;
  max-width: $page-container !important;
  margin: 0 auto;
  padding: 100px 1em 0 1em;
  border-bottom: solid 2px #000;

  h1 {
    text-align: center;
  }
}
